body {
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    background: #222222;
    height: 74px;
    padding: 18px 16px;
    box-sizing: border-box;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__user,
.header__korzina {
    display: none;
}

.header__lable {
    margin-right: 41px;
}

.korzina__wrap_counter {
    display: none;
}

.brand_wrap .brand__container {
    min-height: 363px;
    position: relative;
}

.brand__rigth {
    background: #F1E4E6;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand__left {
    display: none;
}

.brand__promo {
    margin-left: 15px;
}

.brand__head {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    color: #222222;
}
.brand__content {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
}
.brand__fashion {
    color: #F16D7F;
}


@media (min-width: 768px) {
    .header {
        padding-left: 32px;
        padding-right: 32px;
    }

    .header__user,
    .header__korzina {
        display: inline;

    }
    .header__user{
        margin-left: 25px;
        margin-right: 42px;
    }

    .korzina__wrap {
        position: relative;
    }
    .korzina__wrap_counter {
        display: block;
        position: absolute;
        color: #FFFFFF;
        background-color: #F16D7F;
        border-radius: 50%;
        padding: 1px 6px;
        top: -5px;
        left: 19px;
        font-size: 12px;
        line-height: 14px;
    }
    .header__rigth {
        display: flex;
    }
    .brand__left {
        display: block;
    }
    .brand__left img {
        display: block;
        width: 100%;
    }

    .brand__container > div {
        width: 50%;
    }

    .brand__container {
        display: flex;
    }
    .brand__head {
        font-size: 44px;
        line-height: 53px;
    }
    .brand__content {
    font-size: 24px;
    line-height: 29px;
    }
}

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }
    .brand__head {
        font-size: 48px;
        line-height: 58px;
    }
    .brand__content {
        font-size: 32px;
        line-height: 38px;
    }
    .brand__rigth img {
        min-height: 77px;
    }
    .brand_wrap {
        position: relative;
    }

    .brand__rigth {
        justify-content: end;
        padding-left: 64px;
        box-sizing: border-box;
    }
    .brand__dark {
        position: absolute;
        left : 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    .brand__menu {
        width: 232px;
        height: inherit;
        background-color: #fff;
        margin-left: auto;
        padding: 37px 33px;
        position: relative;
    }

    .menu__unit a {
        display: block;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;  
        text-decoration: none;
        margin-left: 22px;
        margin-top: 12px;
        margin-bottom: 12px;  
    }
    .menu__unit {
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
    }
    .menu__title {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 17px;  
    }

    .menu__close {
        position: absolute;
        top: 17px;
        right: 21px;
    }
    .hidden {
        display: none;
    }
}

