@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
body {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

@media (min-width: 1600px) {
  .container {
    margin: 0 auto;
    width: 1140px;
  }
}

.header {
  background: #222222;
  height: 74px;
  padding: 18px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__lable {
  margin-right: 41px;
}

.header__user, .header__basket {
  display: none;
}

.header .korzina__wrap_counter {
  display: none;
}

@media (min-width: 768px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .header__user, .header__basket {
    display: inline;
  }
  .header__user {
    margin-left: 25px;
    margin-right: 42px;
  }
  .header .korzina__wrap {
    position: relative;
  }
  .header .korzina__wrap_counter {
    display: block;
    position: absolute;
    color: #FFFFFF;
    background-color: #F16D7F;
    border-radius: 50%;
    padding: 1px 6px;
    top: -5px;
    left: 19px;
    font-size: 12px;
    line-height: 14px;
  }
  .header__rigth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.featured {
  padding-left: 8px;
  padding-right: 8px;
}

.featured__items {
  background: #F8F8F8;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.featured__items img {
  width: 100%;
}

.featured__items:hover .feature__img-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured__name {
  margin: 25px 17px 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.featured__content {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin: 0px 17px 17px;
}

.featured__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin: 0 18px;
}

.featured__img-wrap {
  position: relative;
}

.featured__img-wrap .feature__img-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(58, 56, 56, 0.86);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__img-wrap .feature__img-dark img {
  display: block;
}

@media (min-width: 768px) {
  .featured {
    padding-left: 16px;
    padding-right: 16px;
  }
  .featured__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 16px;
    -webkit-column-gap: 18px;
            column-gap: 18px;
  }
  .featured__items:last-child {
    display: none;
  }
}

@media (min-width: 1600px) {
  .featured {
    margin-top: 128px;
  }
  .featured__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .featured__items:last-child {
    display: block;
  }
}

.subscribe {
  background: url(images/photosubscribe.jpg) no-repeat;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 110px;
}

.subscribe .sub__left {
  margin-bottom: 60px;
}

.subscribe .sub__left img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.subscribe .sub__left-text {
  max-width: 343px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #222224;
  margin: 0 auto;
}

.subscribe .sub__rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .sub__rigth-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 153.2%;
}

.subscribe .sub__rigth-text {
  font-size: 14px;
  line-height: 153.2%;
}

.subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 47px;
  margin-top: 22px;
}

.subscribe form input {
  width: 245px;
  height: inherit;
  background: #E1E1E1;
  border: none;
  padding: 6px 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.subscribe form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}

.subscribe form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}

.subscribe form input:-ms-input-placeholder {
  /* IE 10+ */
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}

.subscribe form input:-moz-placeholder {
  /* Firefox 18- */
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}

.subscribe form button {
  width: 95px;
  height: inherit;
  background: #F16D7F;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  color: white;
}

@media (min-width: 1600px) {
  .subscribe {
    padding-top: 97px;
    padding-bottom: 126px;
  }
  .subscribe .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe .sub__rigth-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
  }
  .subscribe .sub__rigth-text {
    font-size: 18px;
    line-height: 167.2%;
  }
  .subscribe .sub__left-text {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
  }
}

.footer {
  background: #222224;
  padding-top: 43px;
  padding-bottom: 9px;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__left-link {
  margin-right: 10px;
}

.footer__rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__rigth-text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .footer {
    padding: 24px 32px;
  }
  .footer .container__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__rigth {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__rigth-text {
    margin-top: 0px;
  }
}

.newArrivals_wrap {
  padding-top: 24px;
  padding-bottom: 46px;
  background: #F8F3F4;
  text-align: center;
}

.newArrivals_wrap .newArrivals__left {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin-bottom: 32px;
}

.newArrivals_wrap .newArrivals__rigth {
  display: block;
}

.newArrivals_wrap .newArrivals__rigth a {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}

.newArrivals_wrap .newArr__slash {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
  margin: 0 5px;
}

.newArrivals_wrap .newArrivals__rigth a:last-child {
  color: #F16D7F;
  font-weight: bold;
}

@media (min-width: 768px) {
  .newArrivals_wrap .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 60px 16px;
  }
  .newArrivals_wrap .newArrivals_wrap {
    padding: 0;
  }
  .newArrivals_wrap .newArrivals__left {
    margin-bottom: 0;
  }
}

.slider {
  position: relative;
}

.slider__foto-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f7f7;
}

.slider__image {
  max-height: 454px;
  max-width: 374px;
  margin-top: 85px;
  margin-bottom: 85px;
}

.slider__wrap1 {
  height: 47px;
  width: 47px;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #E5E5E5;
  position: absolute;
  left: 0;
  top: 280px;
  border: 1px solid rgba(42, 42, 42, 0.15);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__wrap2 {
  height: 47px;
  width: 47px;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #E5E5E5;
  position: absolute;
  right: 0;
  top: 280px;
  border: 1px solid rgba(42, 42, 42, 0.15);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__woman-collection {
  height: 600;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 64px;
}

.slider__woman-collection__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 48px 0 64px;
}

.slider__woman-collection__filters div {
  font-size: 10px;
  line-height: 12px;
  color: #6f6e6e;
}

.slider__woman-collection__filters div:not(:last-child) {
  margin-right: 24px;
}

.slider__woman-collection__filters img {
  margin-left: 10px;
}

.slider__woman-collection__text {
  font-size: 14px;
  line-height: 20px;
  width: 91%;
  text-align: center;
}

.slider__woman-collection__mainHeader {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin: 64px 0 12px;
}

.slider__woman-collection__Header {
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin: 12px 0 45px;
}

.slider__woman-collection__price {
  font-size: 24px;
  line-height: 31px;
  color: #EF5B70;
  margin: 18px 0 31px;
}

@media (min-width: 768px) {
  .slider__image {
    max-height: 565px;
    max-width: 466px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .slider__woman-collection__text {
    width: 554px;
    font-weight: 300;
    line-height: 17px;
    font-size: 14px;
  }
  .slider__LineImg {
    width: 642px;
  }
}

@media (min-width: 1600px) {
  .slider__image {
    max-height: 724px;
    max-width: 597px;
    margin-top: 10px;
  }
  .slider {
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider__woman-collection {
    width: 1138px;
    background: white;
    border: 1px solid #eaeaeac2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: -64px;
  }
  .slider__foto-flex {
    border: 1px solid #eaeaeac2;
  }
}
/*# sourceMappingURL=styleLesson3.css.map */